{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <div class="row">
    <!-- Image on the Left Half -->
    <div class="col-md-6">
      <img
        src="https://images.unsplash.com/photo-1481627834876-b7833e8f5570?q=80&w=1856&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Book Haven Image"
        class="img-fluid"
      />
    </div>

    <!-- Text on the Right Half -->
    <div class="col-md-6">
      <div class="d-flex align-items-center h-100">
        <div>
          <h2>Welcome to Book Haven</h2>
          <p class="lead">
            Explore the world of literature and knowledge. Reading books opens
            up new horizons and enhances your imagination.
          </p>
          <p>
            At Book Haven, we believe in the power of books to inspire, educate,
            and entertain. Dive into our vast collection and embark on a journey
            of discovery.
          </p>
          <p>
            Reading books is a transformative and enriching activity that
            extends far beyond mere entertainment. It serves as a gateway to
            knowledge, broadening our perspectives, fostering critical thinking,
            and nurturing a lifelong love for learning. In a world inundated
            with digital stimuli, the act of immersing oneself in the pages of a
            book offers a unique respite, allowing for deep concentration and
            contemplation. Books are invaluable companions on the journey of
            self-discovery, providing insights into diverse cultures, historical
            events, and the intricacies of the human condition. It enhances
            language skills, enriches vocabulary, and sharpens cognitive
            abilities. Beyond the tangible benefits, the act of reading instills
            a sense of discipline and patience, fostering a habit that
            transcends the immediate gratification sought in today's fast-paced
            world. In essence, reading books is a timeless practice that
            empowers individuals, offering a sanctuary for intellectual
            exploration and personal growth. As we navigate the complexities of
            contemporary life, the importance of fostering a reading culture
            remains paramount, ensuring a society that is not only well-informed
            but also attuned to the profound joys of lifelong learning.
          </p>
          <!-- Add more text or customize as needed -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
